<div id="entity_slot" class="slot"
    (dragenter)="showDragTip($event, 'entity')"
    (dragleave)="hideDragTip('entity')"
    (dragover)="allowDrag($event, 'entity')"
    (cdkDropListDropped)="onItemDrop($event, 'entity')"
    cdkDropList
    #entitydestlist="cdkDropList"
    [cdkDropListData]="entity"
    cdkDropListSortingDisabled="true"
    cdkDropListConnectedTo="nav_list_top">

    <div *ngFor="let e of entity"
        draggable="true"
        id="{{e}}"
        cdkDrag
        class="icon_container">
        <img class="icon" src="/assets/{{e}}">
    </div>

    <div id="drag_tip_entity" class="drag_tip">
        <p class="drag_tip_text">
            Drag here your entity
        </p>
    </div>
</div>