#map_container {
    width: 100%;
    height: 100%;
    display: flex;
}

#drag_tip {
    visibility: hidden;
    flex-grow: 1;
    margin: 5%;
    padding: 10%;
    background-color: rgba(202, 186, 243, .95);
    pointer-events: none;
}

#drag_tip_text {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
}
