<div id="destination_slot" class="slot"
    (dragenter)="showDragTip($event, 'destination')"
    (dragleave)="hideDragTip('destination')"
    (dragover)="allowDrag($event, 'destination')"
    (cdkDropListDropped)="onItemDrop($event, 'destination')"
    cdkDropList
    #destinationdestlist="cdkDropList"
    [cdkDropListData]="destination"
    cdkDropListSortingDisabled="true"
    cdkDropListConnectedTo="right_list">
    
    <div *ngFor="let d of destination"
        draggable="true"
        id="{{d}}"
        cdkDrag
        class="icon_container">
        <img class="icon" src="/assets/{{d}}">
    </div>

    <div id="drag_tip_entity" class="drag_tip">
        <p class="drag_tip_text">
            Drag here your entity
        </p>
    </div>

</div>