#main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding-top: 1vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-image: url("/assets/bg.png");
    background-color: midnightblue;
    background-repeat: cover;
}

#nav_main {
    flex-basis: 10%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.list_class {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#nav_list_top {
    height: 10%;
    flex-flow: row nowrap;
}

.list_item {
    align-self: center;
    color: white;
}

.nav_item_icon {
    font-size: 16px;
}

#center_container {
    flex-basis: 90%;
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.side_menu {
    flex-grow: 1;
    height: 100%;
}

#map {
    width: 80%;
    height: 100%;
}

.nav_list_side {
    flex-flow: column nowrap;
}


